<div class="main-container">
  <div class="content">
    <app-tech-nav></app-tech-nav>
    <div class="content-text">
      <div class="title">THE TERMINOLOGY...</div>
      <div class="name">{{capsule.name}}</div>
      <div class="description">{{capsule.description}}</div>
    </div>
  </div>
  <div class="image capsule">
    <picture>
      <source media="(min-width: 769px)" srcset="{{capsule.images.portrait}}">
      <source media="(max-width: 768px" srcset="{{capsule.images.landscape}}">
      <img src="{{techImage}}" alt="space capsule">
    </picture>
  </div>
</div>
